body,
html {
   font-family: 'Montserrat', sans-serif;
   height: 100%;
}

/* --topNav-- */
.topNav {
   padding-top: 20px;
}

.topNav p {
   color: #004183;
}

.topNav a {
   color: #004183;
}

.topNav .officeHours {
   padding-left: 20px;
}

.topNav .getInTouch {
   padding-right: 20px;
   text-align: right;
}

.navbar-brand {
   padding: 0;
   margin-left: 100px;;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
   .topNav .getInTouch {
      font-size: 15px;
      padding: 0;
      margin: 0;
   }

   .topNav .officeHours {
      font-size: 15px;
      padding: 0;
      margin: 0;
   }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
   .topNav .getInTouch {
      padding-right: 20px;
   }
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {
   .navbar-brand {
      padding: 0;
      margin: 0;
      margin-left: 100px;
   }
}
/* --NAVBAR-- */
.navbar-custom {
   background-color: #004183;
   color: white;
}

.navbar-custom a {
   color: white;
}

.navbar-custom a:hover {
   color: white;
   font-weight: 600;
}

.nav-link.active {
   font-weight: 600;
   text-decoration: underline;
}

.dropdown-menu,
.dropdown-item {
   background-color: #004183;
   color: white;
}

.dropdown-item:hover {
   background-color: #004183;
   color: white;
   font-weight: 600;
}

.custom-toggler.navbar-toggler {
   border-color: white;
}

.custom-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* --CAROUSEL-- */
header .carousel-item {
   background: no-repeat center center scroll;
   background-size: cover;
   height: 65vh;
   min-height: 25rem;
}

/* Changes position of carousel caption */
.carousel-caption {
   bottom: auto;
   top: 30%;
}

.carousel-caption .display-4 {
   text-transform: uppercase;
}

/* --WHY US-- */
.whyUs {
   margin-bottom: 50px;
   margin-top: 50px;
}

.whyUs strong {
   font-weight: 900;
}

/* --over35-- */
.over35 {
   margin-bottom: 50px;
}

.over35 strong {
   color: #004183;
   font-weight: 900;
}

@media screen and (min-width: 1000px) {
   .over35 p {
      font-size: 3rem;
   }
}

/* --serviceContainer*/
.serviceContainer {
   margin-bottom: 50px;
}

.serviceContainer .row {
   text-align: center;
}

.card {
   background-color: #004183;
   color: white;
}

.card-body i {
   font-size: 5rem;
   margin-bottom: 10px;
}

.card-title {
   margin-bottom: 15px;
}

/* --ABOUT US-- */
.about {
   padding: 0;
}

.about .display-4 {
   font-weight: 600;
   margin-bottom: 50px;
   margin-top: 50px;
}

.about .aboutText {
   margin-bottom: 50px;
   margin-top: 50px;
}

@media screen and (max-width: 768px) {
   .about .aboutText {
      margin-left: 10px;
      margin-right: 10px;
   }
}

/* --PROJECTS-- */
.hero-image {
   background-image: url("images/pencils.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 30%;
   position: relative;
}

.hero-text {
   color: black;
   left: 50%;
   position: absolute;
   text-align: center;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.hero-text .display-4 {
   font-weight: 700;
}

.projectContainer {
   margin-bottom: 50px;
   margin-top: 50px;
}

.projectText {
   -ms-flex-item-align: center;
   align-self: center;
}

.projectHeader {
   font-size: 25px;
}

.projectText p {
   font-size: 20px;
   margin-top: 25px;
}

.projectDivider {
   border-top: 2px solid black;
}

/* --FOOTER-- */

footer {
   background-color: #004183;
   color: white;
   padding-top: 15px;
}

footer a {
   color: white;
}

footer a:hover {
   color: white;
   font-weight: 600;
}

@media screen and (max-width: 1000px) {
   footer .links {
      text-align: left;
   }

   footer .address {
      text-align: left;
   }
}

@media screen and (min-width: 1000px) {
   footer .links {
      text-align: center;
   }

   footer .address {
      text-align: right;
   }
}

@media screen and (min-width: 1367px) {
   .aboutFooter {
      bottom: 0;
      position: absolute;
      width: 100%;
   }
}
